@font-face {
	font-family: 'alqalam';
	src: url('AlQalamQuranMajeedWeb2.eot');
	src: url('AlQalamQuranMajeedWeb2d41d.eot?#iefix') format('embedded-opentype'),
		url('AlQalamQuranMajeedWeb2.woff') format('woff'),
		url('AlQalamQuranMajeedWeb2.ttf') format('truetype'),
		url('AlQalamQuranMajeedWeb2.svg') format('svg');
}